<div class="container" style="margin: 5em;">
    <div class="row">
        <div class="col-lg-12" >
            <label>Cuenta</label>
            <select class="form-control"
                ng-model="selected"
                ng-change="tags=undefined;changeAccount()">
                <option ng-repeat="expense in expenses" ng-selected="selected==expense.name" value="{{expense.name}}">
                    {{getAccount(expense.name).name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <label>Tag</label>
            <!-- <input class="form-control"
                ng-model="tags"
                ng-change="changeAccount()"/> -->
            <div class="input-group">
                <select class="form-control" ng-model="tags" ng-change="changeAccount()">
                    <option value="">(Todos)</option>
                    <option ng-repeat="tag in allTags.accountTarget[selected]|orderBy:'-count'" value="{{tag.name}}">
                        {{tag.name}} ({{tag.count}})
                    </option>
                </select>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="tags=undefined;changeAccount()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" >
            <label>Desde</label>
            <select class="form-control" ng-change="changeAccount()" ng-model="from" ng-options="month.value for month in months"></select>
        </div>
        <div class="col-lg-6" >
            <label>Hasta</label>
            <select class="form-control" ng-change="changeAccount()" ng-model="to" ng-options="month.value for month in months"></select>
        </div>
    </div>
    <h2>Gastos del Mes</h2>
    <div class="row" ng-init="type='Line'">
        <div class="col-lg-8" >
            <canvas id="base"
                class="chart-base"
                chart-type="type"
                data="data"
                labels="labels"
                legend="true"
                series="series"></canvas>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="type" btn-radio="'Line'">Lineas</label>
                <label class="btn btn-primary" ng-model="type" btn-radio="'Bar'">Barras</label>
            </div>
        </div>
        <div class="col-lg-4" >
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="text-align: right;">Mes</th>
                        <th style="text-align: right;">€</th>
                        <th style="text-align: right;">Curr</th>
                        <th style="text-align: right;">diff €</th>
                        <th style="text-align: right;">diff Curr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in all" ng-class="{success:item.total==min, danger:item.total==max}">
                        <td style="text-align: right;">{{item.year}}/{{item.month}}</td>
                        <td style="text-align: right;">{{item.total|number:2}}</td>
                        <td style="text-align: right;">{{item.totalCurrency|number:2}}</td>
                        <td style="text-align: right;">{{-((all[$index-1].total-item.total)/all[$index-1].total)*100|number:0}}%</td>
                        <td style="text-align: right;">{{-((all[$index-1].totalCurrency-item.totalCurrency)/all[$index-1].totalCurrency)*100|number:0}}%</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-class="{success:top<(accountTop*all.length), danger:top>(accountTop*all.length)}">
                        <th style="text-align: right;">Total</th>
                        <th style="text-align: right;">{{sum|number:2}}</th>
                        <th style="text-align: right;">{{sumCurrency|number:2}}</th>
                        <th style="text-align: right;">Limite:</th>
                        <th style="text-align: right;">€ {{accountTop*all.length}}</th>
                    </tr>
                    <tr ng-class="{success:avg<accountTop, danger:avg>accountTop}">
                        <th style="text-align: right;">Avg</th>
                        <th style="text-align: right;">{{avg|number:2}}</th>
                        <th style="text-align: right;">{{avgCurrency|number:2}}</th>
                        <th style="text-align: right;">Limite:</th>
                        <th style="text-align: right;">€ {{accountTop}}</th>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Desvio</th>
                        <th style="text-align: right;">{{desv|number:2}}</th>
                        <th style="text-align: right;">{{desvCurrency|number:2}}</th>
                        <th style="text-align: right;"></th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr class="danger">
                        <th style="text-align: right;">Max</th>
                        <th style="text-align: right;">{{max|number:2}}</th>
                        <th style="text-align: right;">{{maxCurrency|number:2}}</th>
                        <th style="text-align: right;"></th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr class="success">
                        <th style="text-align: right;">Min</th>
                        <th style="text-align: right;">{{min|number:2}}</th>
                        <th style="text-align: right;">{{minCurrency|number:2}}</th>
                        <th style="text-align: right;"></th>
                        <th style="text-align: right;"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row" ng-init="typeExpenses='Line'">
        <div class="col-lg-8" >
            <canvas id="base"
                class="chart-base"
                chart-type="typeExpenses"
                data="dataExpenses"
                labels="labelsExpenses"
                legend="true"
                series="seriesExpenses"></canvas>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="typeExpenses" btn-radio="'Line'">Lineas</label>
                <label class="btn btn-primary" ng-model="typeExpenses" btn-radio="'Bar'">Barras</label>
            </div>
        </div>
        <div class="col-lg-4" >
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="text-align: right;">Mes</th>
                        <th style="text-align: right;">€</th>
                        <th style="text-align: right;">diff €</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in allExpenses" ng-class="{success:item.total==min, danger:item.total==max}">
                        <td style="text-align: right;">{{item.year}}/{{item.month}}</td>
                        <td style="text-align: right;">{{item.total|number:2}}</td>
                        <td style="text-align: right;">{{-((allExpenses[$index-1].total-item.total)/allExpenses[$index-1].total)*100|number:0}}%</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align: right;">Total</th>
                        <th style="text-align: right;">{{sumExpenses|number:2}}</th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Avg</th>
                        <th style="text-align: right;">{{avgExpenses|number:2}}</th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr>
                        <th style="text-align: right;">Desvio</th>
                        <th style="text-align: right;">{{desvExpenses|number:2}}</th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr class="danger">
                        <th style="text-align: right;">Max</th>
                        <th style="text-align: right;">{{maxExpenses|number:2}}</th>
                        <th style="text-align: right;"></th>
                    </tr>
                    <tr class="success">
                        <th style="text-align: right;">Min</th>
                        <th style="text-align: right;">{{minExpenses|number:2}}</th>
                        <th style="text-align: right;"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
