<div class="" style="margin: 5em;">
	<h3>Movimientos</h3>
	<a ui-sref="new-item" class="pull-right btn btn-sm btn-success" style="margin-top: -40px;">
		<span class="glyphicon glyphicon-plus"></span>
		Nuevo
	</a>
	<div class="panel panel-default">
	    <div class="panel-body" style="padding-bottom: 0;">
	        <div class="row">
	            <div class="col-md-6">
	                <div class="well well-sm" style="padding: 4px 4px 5px 10px;">
	                    <ng-pluralize count="count" when="{'0': 'Items.',
														   'one': '1 item.',
														   'other': '{} items.'}"></ng-pluralize>
	                </div>
	            </div>
	            <div class="col-md-2">
	                <div class="btn-group">
	                    <label class="btn btn-primary btn-sm" ng-model="filters.PAGE_SIZE" btn-radio="10">10</label>
				        <label class="btn btn-primary btn-sm" ng-model="filters.PAGE_SIZE" btn-radio="20">20</label>
				        <label class="btn btn-primary btn-sm" ng-model="filters.PAGE_SIZE" btn-radio="50">50</label>
				        <label class="btn btn-primary btn-sm" ng-model="filters.PAGE_SIZE" btn-radio="100">100</label>
	                </div>
	            </div>
	            <div class="col-md-4">
	                <button type="button" class="pull-right btn btn-sm btn-warning" ng-click="clearFilters()">
						<span class="glyphicon glyphicon-remove-circle"></span>
						Limpiar todo
					</button>
	            </div>
	        </div>
	    </div>
	    <div  class="panel panel-default" style="margin: 0 1em 1em 1em">
	        <div class="panel-body">
	            <div class="row">
	                <div class="col-sm-6" style="margin-bottom: 1em;">
	                    <div class="input-group input-group-sm">
							<input ng-class="{'filter-applied':filters.searchText!=''}" class="form-control" type="text" ng-model="filters.searchText" ng-change="search()" placeholder="Busqueda por descripcion" focus-me="true"/>
							<span class="input-group-btn">
					            <button ng-disabled="filters.searchText==''"  ng-click="clearSearch()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	                <div class="col-sm-6" style="margin-bottom: 1em;">
	                    <div class="input-group input-group-sm">
							<input ng-class="{'filter-applied':filters.searchTags!=''}" class="form-control" type="text" ng-model="filters.searchTags" ng-change="search()" placeholder="Busqueda por Tags" />
							<span class="input-group-btn">
					            <button ng-disabled="filters.earchTags==''"  ng-click="clearTags()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	            </div>
				<div class="row">
	                <div class="col-sm-5" style="margin-bottom: 1em;">
	                    <div class="input-group input-group-sm">
							<select ng-class="{'filter-applied':filters.searchAccount!=''}" class="form-control" ng-model="filters.searchAccount" ng-change="search()">
								<option value="">Origen</option>
								<option value="{{account._id}}"
										ng-selected="filters.searchAccount==account._id"
										ng-repeat="account in accountsList | filter:{archived:'!true'} | orderBy:'name'">
									{{account.name}}
								</option>
							</select>
							<span class="input-group-btn">
					            <button ng-disabled="filters.searchAccount==''"  ng-click="clearAccount()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	                <div class="col-sm-1" style="margin-bottom: 1em;">
					    <label class="checkbox">
					        <input type="checkbox" ng-model="filters.searchInBoth" ng-disabled="!filters.searchAccount">O destino</input>
					    </label>
					</div>
	                <div class="col-sm-6" style="margin-bottom: 1em;">
						<div class="input-group input-group-sm">
							<select ng-class="{'filter-applied':filters.searchAccountTarget!=''}" class="form-control" ng-model="filters.searchAccountTarget" ng-change="search()" ng-disabled="filters.earchInBoth">
								<option value="">Destino</option>
								<option value="{{account._id}}"
										ng-selected="filters.searchAccountTarget==account._id"
										ng-repeat="account in accountsList | filter:{archived:'!true'} | orderBy:'name'">
									{{account.name}}
								</option>
							</select>
							<span class="input-group-btn">
					            <button ng-disabled="filters.searchAccountTarget==''"  ng-click="clearAccountTarget()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	            </div>
				<div class="row">
	                <div class="col-sm-5" style="margin-bottom: 1em;">
	                    <div class="input-group input-group-sm">
							<input ng-class="{'filter-applied':filters.searchFromDate}" type="text" class="form-control"
								datepicker-popup="dd-MM-yyyy"
								ng-model="filters.searchFromDate"
								is-open="searchDateOpened.from"
								ng-change="search()"
								placeholder="Desde"
								close-text="Cerrar" />
				            <span class="input-group-btn">
				            	<button type="button" class="btn btn-default" ng-click="open('from')"><i class="glyphicon glyphicon-calendar"></i></button>
					            <button ng-disabled="!filters.searchFromDate"  ng-click="clearFromDate()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	                <div class="col-sm-1" style="margin-bottom: 1em;">
					    <label class="checkbox">
					        <input type="checkbox" ng-model="filters.searchDateExact" ng-disabled="!filters.searchFromDate">Exacta</input>
					    </label>
					</div>
	                <div class="col-sm-6" style="margin-bottom: 1em;">
	                    <div class="input-group input-group-sm">
							<input ng-class="{'filter-applied':filters.searchToDate}"
								ng-disabled="filters.searchDateExact" type="text" class="form-control"
								datepicker-popup="dd-MM-yyyy"
								ng-model="filters.searchToDate"
								is-open="searchDateOpened.to"
								ng-change="search()"
								placeholder="Hasta"
								close-text="Cerrar" />
				            <span class="input-group-btn">
				            	<button type="button" class="btn btn-default" ng-click="open('to')"><i class="glyphicon glyphicon-calendar"></i></button>
					            <button ng-disabled="!filters.searchToDate"  ng-click="clearToDate()" class="btn btn-default" type="button">
					                <span class="glyphicon glyphicon-remove"></span>
					            </button>
					        </span>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>


		<table class="table table-striped table-condensed table-hover" style="margin-top:1em">

			<thead>
				<tr>
					<th style="width: 100px">Fecha</th>
					<th>Detalle</th>
					<th><div class="text-right">V. Origen</div></th>
					<th style="width: 4em;"></th>
					<th><div class="text-right">V. Destino</div></th>
					<th style="width: 4em;"></th>
					<th><div class="text-right">Valor €</div></th>
					<th style="width: 150px">Origen</th>
					<th style="width: 150px">Destino</th>
					<th>Tags</th>
					<th style="width: 30px"></th>
					<!-- <th style="width: 30px"></th> -->
					<th style="width: 30px"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="m in movements">
					<td ng-style="todayStyle(m.date)">{{ m.date | date:'dd-MM-yyyy' }}</td>
					<td>
						<a ng-href="#/new-item/{{m._id}}">
							{{ m.description }}
						</a>
					</td>
					<td title="Cambio {{m.accountCurrency}}">
						<div class="text-right">
							<strong>
								{{ m.amount * m.accountCurrency | number:2 }} {{getCurrency(m.account).sign}}
							</strong>
						</div>
					</td>
					<td>({{m.accountTargetCurrency/m.accountCurrency|number:2}})</td>
					<td title="Cambio {{m.accountTargetCurrency}}">
						<div class="text-right">
							<strong>
								{{ m.amount * m.accountTargetCurrency | number:2 }} {{getCurrency(m.accountTarget).sign}}
							</strong>
						</div>
					</td>
					<td>({{m.accountTargetCurrency}})</td>
					<td><div class="text-right"><strong>{{ m.amount | currency:'€ ' }}</strong></div></td>
					<td title="Cambio {{m.accountCurrency}}">
						<a href="" ng-click="searchOrigin(m.account)">
							{{ getAccount(m.account).name }}
						</a>
					</td>
					<td title="Cambio {{m.accountTargetCurrency}}">
						<a href="" ng-click="searchTarget(m.accountTarget)">
							{{ getAccount(m.accountTarget).name }}
						</a>
					</td>
					<td>
						<a ng-show="m.tags"
							ng-repeat="tag in tagToList(m.tags)"
							ng-class="getTagType(tag)"
							class="label label-default"
							ng-click="searchTag(tag)"
							style="margin-right:5px">
							{{tag}}
						</a>
					</td>
					<td>
						<a ng-href="#/clone/{{m._id}}" class="btn btn-default btn-xs">
							<span class="fa fa-clone"></span>
						</a>
					</td>
					<!-- <td>
						<a ng-href="#/new-item/{{m._id}}" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td> -->
					<td>
						<a href="" ng-click="remove(m)" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5" class="text-right">Total €</th>
					<th colspan="2" class="text-right">{{totalEuro | currency:'€ '}}</th>
				</tr>
				<tr>
					<th colspan="5" class="text-right">Total AR$</th>
					<th colspan="2" class="text-right">{{totalEuro * currencies['peso'].value | currency:currencies['peso'].sign+' '}}</th>
				</tr>
			</tfoot>
		</table>
		<hr/>
        <div style="margin:1em">
			<pagination total-items="count" ng-model="currentPage" items-per-page="filters.PAGE_SIZE" ng-change="changePage()" max-size="MAX_PAGES" boundary-links="true"></pagination>
		</div>
	</div>
    <script type="text/ng-template" id="remove.html">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar movimiento</h3>
        </div>
        <div class="modal-body">
            Esta seguro?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
