<!DOCTYPE html>
<html ng-app="cashcube">
<head>
    <title>CubeCash - Resume</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="./js/common.js"></script>
    <script src="./js/util.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="./js/angular-resource.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.4.0.min.js"></script>

    <script src="./js/cube.js"></script>
</head>
<body ng-controller="ProjectionController">
	<span class="text-center" ng-show="loading!=0" style="background-color: red; position:fixed; margin-left: auto;   margin-right: auto; top:0; width: 70px; height: 20px; z-index: 100; padding: 0 20px">Loading {{loading}}</span>
    <div id="example" class="container-fluid">
		<div class="row-fluid">
			<div class="span12" style="margin-top: 10px">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="#">CashCube</a>
                        <ul class="nav">
                            <li><a href="#" ng-click="navigateTo('movement.html')">Movimientos</a></li>
                            <li><a href="#" ng-click="navigateTo('account.html')">Cuentas</a></li>
                            <li><a href="#" ng-click="navigateTo('currency.html')">Moneda</a></li>
                            <li><a href="#" ng-click="navigateTo('category.html')">Categorias</a></li>
                            <li><a href="#" ng-click="navigateTo('resume.html')">Resume</a></li>
                            <li><a href="#" ng-click="navigateTo('graph.html')">Graficos</a></li>
                            <li class="active"><a href="#" ng-click="navigateTo('cube.html')">Cubo</a></li>
                            <li><a href="#" ng-click="navigateTo('addBonus.html')">Add Bonus</a></li>
                        </ul>
                    </div>
                </div>

                <div style="margin-top: 20px">
                    <h2>{{selected.value}}</h2>
                    <select ng-model="selected" ng-options="month.value for month in months" ng-change="toMonth(selected)"></select>
                </div>

				<label class="checkbox">
					<input type="checkbox" ng-model="alldays" >Mostrar todos los dias</input>
				</label>


                <ng-include src="'partial/cube/table.html'"></ng-include>

                <ng-include src="'partial/cube/definition.html'"></ng-include>
		    </div>
		</div>
    </div>

</body>
</html>
