<!DOCTYPE html>
<html ng-app="cashcube">
<head>
    <title>CubeCash - Resume</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="./js/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="./js/angular-resource.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.4.0.min.js"></script>

    <script src="./js/cube.js"></script>
</head>
<body ng-controller="ProjectionController">
		
    <div id="example" class="container-fluid">
		<div class="row-fluid">
			<div class="span12" style="margin-top: 10px">
				<button class="btn btn-mini" ng-click="navigateTo('movement.html')">Movimientos</button>
				<button class="btn btn-mini" ng-click="navigateTo('account.html')">Cuentas</button>
				<button class="btn btn-mini" ng-click="navigateTo('currency.html')">Moneda</button>
				<button class="btn btn-mini" ng-click="navigateTo('category.html')">Categorias</button>
				<button class="btn btn-mini" ng-click="navigateTo('resume.html')">Resume</button>
				<button class="btn btn-mini" ng-click="navigateTo('graph.html')">Graficos</button>
				<button class="btn btn-mini btn-primary" ng-click="navigateTo('projection.html')">Cubo</button>

                <div style="margin-top: 20px">
                    <h2>{{selected.value}}</h2>
                    <select ng-model="selected" ng-options="month.value for month in months" ng-change="toMonth(selected)"></select>
                </div>

                <table class="table table-condensed table-bordered ">
                    <thead>
                        <tr>
                            <th style="width:50px">
                                Opcion
                            </th>
                            <th ng-repeat="values in definition.accounts" style="width:{{values.width||100}}px">
                                {{values.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >
                                Mx/dia
                            </td>
                            <td ng-repeat="values in definition.accounts" style="width:{{values.width||100}}px">
                                <input type="text" ng-model="values.maxDay" class="input-mini"/>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Mx/sem
                            </td>
                            <td ng-repeat="values in definition.accounts" style="width:{{values.width||100}}px">
                                <input type="text" ng-model="values.maxWeek" class="input-mini"/>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Mx/mes
                            </td>
                            <td ng-repeat="values in definition.accounts" style="width:{{values.width||100}}px">
                                <input type="text" ng-model="values.maxMonth" class="input-mini"/>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                Resto
                            </td>
                            <td ng-repeat="values in definition.accounts" style="width:{{values.width||100}}px">
                                <input type="text" ng-model="values.trail" class="input-mini"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button ng-click="saveDefinition()">Guardar</button>


		        <table class="table table-condensed table-bordered table-hover ">
					<thead>
						<tr>
				            <th style="width:50px">
				            </th>
				            <th colspan="{{section.count}}" ng-repeat="section in sections">
				                {{section.name}}
				            </th>
                            <th style="width:50px">
                            </th>
				        </tr>
						<tr>
				            <th style="width:50px">
				               Dia
				            </th>
				            <th ng-repeat="values in definition.accounts | sectionFilter:0" style="width:{{values.width||100}}px">
				                {{values.name}}
				            </th>
                            <th style="width:50px" class="alert alert-info">
                                <strong>Total</strong>
                            </th>
                            <th ng-repeat="values in definition.accounts | sectionFilter:1" style="width:{{values.width||100}}px">
                                {{values.name}}
                            </th>
                            <th style="width:50px"  class="alert alert-info">
                                <strong>Total</strong>
                            </th>
                            <th style="width:50px">
                                <strong>Total</strong>
                            </th>
				        </tr>
					</thead>
                    <tbody ng-repeat="w in weeks()">
                        <tr ng-repeat="day in days(w.from,w.to)" ng-class="getRowClass(day)">
                            <td>
                                <strong>{{getDaw(day)}} {{day}}</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:0" ng-class="getClass(movements.days[day][values.account].value,values)" >
                                <span popover-placement="top" Popover-animation="true" popover-title="{{values.account}} (Max: {{values.maxDay||'-'}})"  popover="{{getPopover(movements.days[day][values.account].items)}}">
                                    {{movements.days[day][values.account].value.toFixed(2)|valueFilter}}
                                </span>
                            </td>
                            <td  class="alert alert-info">
                                <strong>--</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:1" ng-class="getClass(movements.days[day][values.account].value,values)" >
                                <span popover-placement="top" Popover-animation="true" popover-title="{{values.account}} (Max: {{values.maxDay||'-'}})"  popover="{{getPopover(movements.days[day][values.account].items)}}">
                                    {{movements.days[day][values.account].value.toFixed(2)|valueFilter}}
                                </span>
                            </td>
                            <td  class="alert alert-info">
                                <strong>--</strong>
                            </td>
                            <td style="width:50px" class="alert alert-success">
                                <strong>{{movements.totalDay[day].toFixed(2)|valueFilter}}</strong>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>
                                <strong>W: {{$index+1}}</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:0" ng-class="getClassForWeek(movements.weeks[(w.from-1)/7+1][values.account].value,values)">
                                <strong>
                                    {{movements.weeks[(w.from-1)/7+1][values.account].value.toFixed(2)|valueFilter:values.maxWeek}}
                                </strong>
                            </td>
                            <td>
                                <strong>--</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:1" ng-class="getClassForWeek(movements.weeks[(w.from-1)/7+1][values.account].value,values)">
                                <strong>
                                    {{movements.weeks[(w.from-1)/7+1][values.account].value.toFixed(2)|valueFilter:values.maxWeek}}
                                </strong>
                            </td>
                            <td>
                                <strong>--</strong>
                            </td>
                            <td style="width:50px" class="alert alert-success">
                                <strong>{{movements.totalWeek[(w.from-1)/7+1].toFixed(2)|valueFilter}}</strong>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        </th>
                            <td>
                                <strong>Total</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:0" ng-class="getClassForTotal(movements.month[values.account].value,values)">
                                <strong>
                                    {{movements.month[values.account].value.toFixed(2)|valueFilter:values.maxMonth}}
                                </strong>
                            </td>
                            <td  class="alert alert-info">
                                <strong>{{movements.totalSection[0].toFixed(2)|valueFilter}}</strong>
                            </td>
                            <td ng-repeat="values in definition.accounts | sectionFilter:1" ng-class="getClassForTotal(movements.month[values.account].value,values)">
                                <strong>
                                    {{movements.month[values.account].value.toFixed(2)|valueFilter:values.maxMonth}}
                                </strong>
                            </td>
                            <td  class="alert alert-info">
                                <strong>{{movements.totalSection[1].toFixed(2)|valueFilter}}</strong>
                            </td>
                            <td>
                                <strong>{{movements.total.toFixed(2)|valueFilter}}</strong>
                            </td>
                        </th>
                    </tfoot>
		        </table>
		    </div>
		</div>
    </div>

</body>
</html>
