
<!DOCTYPE html>
<html ng-app="cashcube">
<head>
    <title>CubeCash - Resume</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="./js/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="./js/angular-resource.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.4.0.min.js"></script>

    <script>
        var cashcube = angular.module('cashcube',['ngResource']);
        cashcube.controller("ProjectionController", function($scope,Movement,Account) {
            $scope.name = "Lautaro";
            $scope.movements = Movement.query();
            $scope.accounts = Account.query();
            

        });
	
	cashcube.factory('Movement',function($resource) {
		return $resource('cube?year=2013&month=7',{}, {
			query: { method: 'GET', params: {  },isArray:false  }
		});
	});
    cashcube.factory('Account',function($resource) {
        return $resource('account',{},{
            query: { method: 'GET', params: {}, isArray:true  }
        });
    });
    </script>
</head>
<body>
<button class="btn btn-info" ng-click="location=navigateTo('movement.html')">Movimientos</button>
<!--<a class="offline-button" href="movement.html"></a>-->
<a class="offline-button" href="account.html">Cuentas</a>
<a class="offline-button" href="currency.html">Moneda</a>
<a class="offline-button" href="category.html">Categorias</a>
<a class="offline-button-selected" href="resume.html">Resume</a>
<a class="offline-button" href="graph.html">Graficos</a>
<div>
    <label style="width:100px">Desde Fecha: </label>
    <input id="fromDate" style="width:150px;" />
    <label style="width:100px">Hasta Fecha: </label>
    <input id="toDate" style="width:150px;" />
    <label style="width:100px">Categoria: </label>
    <input id="category" style="width:150px;" />
</div>
<div id="example" class="k-content" ng-controller="ProjectionController">

    <p>Nothing here {{'yet' + '!'}}</p>
    my name is: {{name}}
    <div>
        <table border=1>
            <tr>
                <th>
                   Dia
                </th>
                <th ng-repeat="account in accounts">
                    {{account.name}}
                </th>
            </tr>
            <tr ng-repeat="(day,values) in movements">
                <td>
                    <strong>{{day}}</strong>
                </td>
                <td ng-repeat="account in accounts">
                    {{movements[day][account._id].toFixed(2)}}
                </td>
            </tr>
            <!--<tr ng-repeat="(day,values) in movements">-->
                <!--<td ng-repeat="(account,value) in values">-->
                    <!--{{account}}= {{value}}-->
                <!--</td>-->
            <!--</tr>-->
        </table>
        <div >
            {{day}}

        </div>

    </div>

</div>

</body>
</html>
