
<!DOCTYPE html>
<html ng-app="cashcube">
<head>
    <title>CubeCash - Resume</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="./js/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="./js/angular-resource.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.4.0.min.js"></script>

    <script>
        var cashcube = angular.module('cashcube',['ngResource']);
		cashcube.filter("valueFilter",function() {
			return function(value) {
				if ( !value ) return '';
				return -value;
			};
		});
		cashcube.filter('base',function() {
			return function(accounts) {
				var filtered = [];
				for ( var i=0; i<accounts.length; i++ ) {
					if ( accounts[i].category === 'base' ) {
						filtered.push(accounts[i]);
					}
				}
				for ( var i=0; i<accounts.length; i++ ) {
					if ( accounts[i].category === 'fijo' ) {
						filtered.push(accounts[i]);
					}
				}
				for ( var i=0; i<accounts.length; i++ ) {
					if ( accounts[i].category === 'extra' ) {
						filtered.push(accounts[i]);
					}
				}
				return filtered;
			};
		});
        cashcube.controller("ProjectionController", function($scope,Movement,Account) {

            $scope.movements = Movement.query();

            $scope.accounts = Account.query();

			$scope.getAccounts = function() {
				
			};
			var r = [];
			r.push({from:1,to:7});
			r.push({from:8,to:14});
			r.push({from:15,to:21});
			r.push({from:22,to:28});
			r.push({from:29,to:31});
				
			$scope.weeks = function() {
				return r;
			};
	
			$scope.days = function (from,to) {
				var days = [];
				for(var i=from; i<=to; i++) {
					var d = i;
					if ( d < 10 ) d = "0" + d;
					days.push(d);
				}
				return days;
			};

			$scope.sum = function(week,account,value) {
				if ( !$scope.weekMovements[week] ) {
					$scope.weekMovements[week] = {};
				}
				if ( !$scope.weekMovements[week][account] ) {
					$scope.weekMovements[week][account] = value;
				} else {
					$scope.weekMovements[week][account] += value;
				}
				return '';
			};

			$scope.getClass = function(value) {
				if ( !value ) return '';
				if ( value < -100 ) return 'alert alert-error';
				if ( value < -10 ) return 'alert';
				return 'alert alert-success';
			}

            $scope.weekMovements = {};

            $scope.navigateTo = function(href) {
                window.location.href = href;
            };

        });
	
	cashcube.factory('Movement',function($resource) {
        var today = new Date();
        var year = today.getYear()+1900;
        var month = today.getMonth()+1;
		return $resource('cube?year='+year+'&month=' + month,{}, {
			query: { method: 'GET', params: {  },isArray:false  }
		});
	});
    cashcube.factory('Account',function($resource) {
		//return $resource('data/account.json',{},{
		return $resource('account',{},{
            query: { method: 'GET', params: {}, isArray:true  }
        });
    });
    </script>
</head>
<body ng-controller="ProjectionController">
		
    <div id="example" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">	
				<button class="btn btn-mini" ng-click="navigateTo('movement.html')">Movimientos</button>
				<button class="btn btn-mini" ng-click="navigateTo('account.html')">Cuentas</button>
				<button class="btn btn-mini" ng-click="navigateTo('currency.html')">Moneda</button>
				<button class="btn btn-mini" ng-click="navigateTo('category.html')">Categorias</button>
				<button class="btn btn-mini" ng-click="navigateTo('resume.html')">Resume</button>
				<button class="btn btn-mini" ng-click="navigateTo('graph.html')">Graficos</button>
				<button class="btn btn-mini btn-primary" ng-click="navigateTo('projection.html')">Cubo</button>
		    
		        <table class="table table-bordered table-hover ">
					<thead>                
						<tr>
				            <th>
				               Dia
				            </th>
				            <th ng-repeat="account in accounts  | base">
				                {{account.name}}
				            </th>
				        </tr>
					</thead>
						<tbody ng-repeat="w in weeks()">
						    <tr ng-repeat="day in days(w.from,w.to)">
						        <td>
						            <strong>{{day}}</strong>
						        </td>
						        <td ng-repeat="account in accounts | base" ng-class="getClass(movements[day][account._id])">
						            {{movements[day][account._id].toFixed(2)|valueFilter}}
						        </td>
						    </tr>
							<tr class="info">
						        <td>
						            <strong>W: {{$index+1}}</strong>
						        </td>
						        <td ng-repeat="account in accounts | base">
						            <strong>{{weekMovements[(w.from-1)/7][account._id].toFixed(2)}}</strong>
						        </td>
							</tr>
						</tbody>
		        </table>
		    </div>
		</div>
    </div>

</body>
</html>
