<div style="margin-bottom:30px">
    <div style="margin-top: 10px">
        <h4>Definiciones</h4>
    </div>
    <table class="table table-condensed table-bordered ">
        <thead>
        <tr>
            <th style="width:50px">
                Opcion
            </th>
            <th ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                {{values.name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Mx/dia
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.maxDay" class="input-mini"/>
            </td>
        </tr>
        <tr>
            <td >
                Mx/sem
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.maxWeek" class="input-mini"/>
            </td>
        </tr>
        <tr>
            <td >
                Mx/mes
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.maxMonth" class="input-mini"/>
            </td>
        </tr>
        <tr>
            <td>
                Arrastre
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.trail" class="input-mini"/>
            </td>
        </tr>
		<tr>
            <td>
                Sobrante
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.over" class="input-mini"/>
            </td>
        </tr>
        <tr>
            <td >
                Seccion
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" style="width:{{values.width||100}}px">
                <input type="number" ng-model="values.section" class="input-mini"/>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn" ng-click="saveDefinition()">Guardar</button>

    <form class="form-inline">
        <h5>Add new Account</h5>
        <select ng-model="addAccount" ng-options="account.name for account in accounts" ></select>
        <input type="number" ng-model="addAccountSection" class="input-mini"/>
        <button class="btn" ng-click="addNewAccount(addAccount,addAccountSection)">Add</button>
    </form>
</div>
