<div style="margin-bottom:30px">
    <div style="margin-top: 20px">
        <h4>Definiciones</h4>
    </div>
	<form class="form-inline">
		<label>
		Ingreso: <input type="number" ng-model="definition.income" class="input-small"/>
		</label>
	</form>
    <table class="table table-condensed table-bordered ">
        <thead>
        <tr>
            <th style="width:50px">
                Opcion
            </th>
            <th ng-repeat="values in definition.accounts | orderBy:'section'" >
                {{values.name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="opt in definitionOptions" >
            <td>
                {{opt.caption}}
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" >
                <input type="number" ng-model="values[opt.key]" class="input-mini" ng-change="setModified(values.account,opt.key)"/>
				<i class="icon-star" ng-show="modified[values.account][opt.key]"></i>
            </td>
        </tr>
        <tr >
            <td>
                Proyeccion
            </td>
            <td ng-repeat="values in definition.accounts | orderBy:'section'" >
                <!--<input type="text" ng-model="values.projection" class="input-mini"/>-->
				<select class="input-small" ng-model="values.projection" ng-options="type for type in projectionTypes" ng-change="setModified(values.account,'projection')"></select>
				<i class="icon-star" ng-show="modified[values.account]['projection']"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <textarea ng-model="definition.comments" rows="5" style="width:99%"></textarea>
    <button class="btn" ng-click="saveDefinition()">Guardar</button>

    <form class="form-inline">
        <h5>Add new Account</h5>
        <select ng-model="addAccount" ng-options="account.name for account in accounts" ></select>
        <input type="number" ng-model="addAccountSection" class="input-mini"/>
        <button class="btn" ng-click="addNewAccount(addAccount,addAccountSection)">Add</button>
    </form>
</div>
