
<table class="table table-condensed table-bordered table-hover ">
    <thead>
    <tr>
        <th style="width:50px">
        </th>
        <th colspan="{{section.count}}" ng-repeat="section in sections">
            {{section.name}}
        </th>
        <th style="width:50px">
        </th>
    </tr>
    <tr>
        <th style="width:50px">
            Dia
        </th>
        <th ng-repeat="values in definition.accounts | sectionFilter:0:movements" ng-style="{width:values.width}">
            {{values.name}}
        </th>
        <th style="width:50px" class="alert alert-info">
            <strong>Total</strong>
        </th>
        <th ng-repeat="values in definition.accounts | sectionFilter:1:movements" ng-style="{width:values.width}">
            {{values.name}}
        </th>
        <th style="width:50px" class="alert alert-info">
            <strong>Total</strong>
        </th>
        <th style="width:50px">
            <strong>Total</strong>
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="w in weeks()">
    <tr ng-repeat="day in days(w.from,w.to)" ng-class="getRowClass(day)">
        <td>
            <strong>{{getDaw(day)}} {{day}}</strong>
        </td>
        <td ng-repeat="values in definition.accounts | sectionFilter:0:movements" ng-class="getClass(movements.days[day][values.account].value,values)" >
            <span popover-placement="top" Popover-animation="true" popover-title="{{values.account}} (Max: {{values.maxDay||'-'}})"  popover="{{getPopover(movements.days[day][values.account].items)}}">
                {{movements.days[day][values.account].value.toFixed(2)|valueFilter}}
            </span>
        </td>
        <td  class="alert alert-info">
            <strong>--</strong>
        </td>
        <td ng-repeat="values in definition.accounts | sectionFilter:1:movements" ng-class="getClass(movements.days[day][values.account].value,values)" >
            <span popover-placement="top" Popover-animation="true" popover-title="{{values.account}} (Max: {{values.maxDay||'-'}})"  popover="{{getPopover(movements.days[day][values.account].items)}}">
                {{movements.days[day][values.account].value.toFixed(2)|valueFilter}}
            </span>
        </td>
        <td  class="alert alert-info">
            <strong>--</strong>
        </td>
        <td style="width:50px" class="alert alert-success">
            <strong>{{movements.totalDay[day].toFixed(2)|valueFilter}}</strong>
        </td>
    </tr>
    <tr class="info">
        <td>
            <strong>W: {{$index+1}}</strong>
        </td>
        <td ng-repeat="values in definition.accounts | sectionFilter:0:movements" ng-class="getClassForWeek(w,values)">
            <strong>
                {{movements.weeks[w.week][values.account].value.toFixed(2)|valueFilter:maxValue(w,values)}}
            </strong>
        </td>
        <td>
            <strong>--</strong>
        </td>
        <td ng-repeat="values in definition.accounts | sectionFilter:1:movements" ng-class="getClassForWeek(w,values)">
            <strong>
                {{movements.weeks[w.week][values.account].value.toFixed(2)|valueFilter:maxValue(w,values)}}
            </strong>
        </td>
        <td>
            <strong>--</strong>
        </td>
        <td style="width:50px" class="alert alert-success">
            <strong>{{movements.totalWeek[w.week].toFixed(2)|valueFilter}}</strong>
        </td>
    </tr>
    </tbody>
    <tfoot>
		<tr>
			<th>
				<strong>Total</strong>
			</th>
			<th ng-repeat="values in definition.accounts | sectionFilter:0:movements" ng-class="getClassForTotal(movements.month[values.account].value,values)">
				<strong>
				    {{movements.month[values.account].value.toFixed(2)|valueFilter:values.maxMonth}}
				</strong>
			</th>
			<th  class="alert alert-info">
				<strong>{{movements.totalSection[0].toFixed(2)|valueFilter}}</strong>
			</th>
			<th ng-repeat="values in definition.accounts | sectionFilter:1:movements" ng-class="getClassForTotal(movements.month[values.account].value,values)">
				<strong>
				    {{movements.month[values.account].value.toFixed(2)|valueFilter:values.maxMonth}}
				</strong>
			</th>
			<th  class="alert alert-info">
				<strong>{{movements.totalSection[1].toFixed(2)|valueFilter}}</strong>
			</th>
			<th>
				<strong>{{movements.total.toFixed(2)|valueFilter}}</strong>
			</th>
		</tr>
		<tr>
			<td colspan="{{sections[0].count+sections[1].count+2}}" style="background:#add8e6"></td>
		</tr>
		<tr>
			<th>
				<strong>Forecast</strong>
			</th>
			<th ng-repeat="values in definition.accounts | sectionFilter:0:movements" >
				<strong>
					{{forecast(values)}}
				</strong>
			</th>
			<th  class="alert alert-info">
				<strong>{{ forecastForSection(0,definition.accounts,movements) | number:2 }}</strong>
			</th>
			<th ng-repeat="values in definition.accounts | sectionFilter:1:movements" >
				<strong>
					{{forecast(values)}}
				</strong>
			</th>
			<th  class="alert alert-info">
                <strong>{{ forecastForSection(1,definition.accounts,movements) | number:2 }}</strong>
			</th>
			<th>
				<strong>{{ forecastTotal(definition.accounts,movements) | number:2 }}</strong>
			</th>
		</tr>
        <tr>
            <th>
                <strong>Ahorro</strong>
            </th>
            <th ng-repeat="values in definition.accounts | sectionFilter:0:movements" ng-class="getClassForSaving(values.maxMonth - forecast(values))">
                <strong tooltip="Ahorro estimado para la cuenta">
                    {{values.maxMonth - forecast(values) | number:2}}
                </strong>
            </th>
            <th  class="alert alert-info">
              	<strong tooltip="Ahorros estimados sin contar los gastos extras">{{ definition.income - forecastForSection(0,definition.accounts,movements) | number:2 }}</strong>
            </th>
            <th ng-repeat="values in definition.accounts | sectionFilter:1:movements" ng-class="getClassForSaving(values.maxMonth - forecast(values))">
                <strong tooltip="Ahorro estimado para la cuenta">
                    {{values.maxMonth - forecast(values) | number:2}}
                </strong>
            </th>
            <th  class="alert alert-info">
                <strong tooltip="No aplica">--</strong>
            </th>
            <th  class="alert alert-warning">
                <strong tooltip-placement="left" tooltip="Ahorros estimados reales">{{ definition.income - forecastTotal(definition.accounts,movements) | number:2 }}</strong>
            </th>
        </tr>
    </tfoot>
</table>

